<h5>YET TO ARRIVE TRUCKS</h5>

<div class="row" style="border: 1px;border-color: black;"> 

<div class="col custom-col" style="border: 1px solid black;">

<div class="row px-1">
    <th>0-2 hours</th>

</div>
<div class="row px-3">
    Vehicle: 2
    
   
    
    

</div>
<div class="row px-3">
    Artcile count: 387

</div>
<div class="row px-3">
    Consignment count: 24

</div>

<div class="row px-3">
ETA: today
</div>

</div>

<div class="col custom-col" style="border: 1px solid black;">

    <div class="row px-1">
        <b>2-4 hours</b>
    
    </div>
    <div class="row px-3">
        Vehicle: 2
        
       
        
        
    
    </div>
    <div class="row px-3">
        Artcile count: 387
    
    </div>
    <div class="row px-3">
        Consignment count: 24
    
    </div>
    
    <div class="row px-3">
    ETA: today
    </div>
    
    </div>

    <div class="col custom-col" style="border: 1px solid black;">

        <div class="row px-1">
            <b>4-6 hours</b>
        
        </div>
        <div class="row px-3">
            Vehicle: 2
            
           
            
            
        
        </div>
        <div class="row px-3">
            Artcile count: 387
        
        </div>
        <div class="row px-3">
            Consignment count: 24
        
        </div>
        
        <div class="row px-3">
        ETA: today
        </div>
        
        </div>
     
        <div class="col custom-col" style="border: 1px solid black;">

            <div class="row px-1">
                <b>6-10 hours</b>
            
            </div>
            <div class="row px-3">
                Vehicle: 2
                
               
                
                
            
            </div>
            <div class="row px-3">
                Artcile count: 387
            
            </div>
            <div class="row px-3">
                Consignment count: 24
            
            </div>
            
            <div class="row px-3">
            ETA: today
            </div>
            
            </div>

</div>